 <h1></h1>

<div class="row">
 <div class="span8">
  <%= render "map" %>
 </div>	
 <div class="span4">
  <%= render "sliders" %>
 </div> 
 <h1></h1>
  <%= render "listing" %>

</div>

<p>

 <!-- 

<h2>SnoCountry Weather Data</h2>
<h3>Raw</h3>
<%=	@sc_result %>
<h3>Super merged</h3>
<%= @scHash %> -->