<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resort.name %>
</p>

<p>
  <b>Runs:</b>
  <%= @resort.runs %>
</p>

<p>
  <b>Pr beginner:</b>
  <%= @resort.pr_beginner %>
</p>

<p>
  <b>Pr intermediate:</b>
  <%= @resort.pr_intermediate %>
</p>

<p>
  <b>Pr advanced:</b>
  <%= @resort.pr_advanced %>
</p>

<p>
  <b>Pr expert:</b>
  <%= @resort.pr_expert %>
</p>

<p>
  <b>Area:</b>
  <%= @resort.area %>
</p>

<p>
  <b>Elevation base:</b>
  <%= @resort.elevation_base %>
</p>

<p>
  <b>Elevation peak:</b>
  <%= @resort.elevation_peak %>
</p>

<p>
  <b>Vertical drop:</b>
  <%= @resort.vertical_drop %>
</p>

<p>
  <b>Longest trail:</b>
  <%= @resort.longest_trail %>
</p>

<p>
  <b>Lifts:</b>
  <%= @resort.lifts %>
</p>

<p>
  <b>Url:</b>
  <%= @resort.url %>
</p>

<p>
  <b>Address:</b>
  <%= @resort.address %>
</p>

<p>
  <b>City:</b>
  <%= @resort.city %>
</p>

<p>
  <b>State:</b>
  <%= @resort.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @resort.zip %>
</p>

<p>
  <b>Trail map:</b>
  <%= @resort.trail_map %>
</p>

<p>
  <b>SnowCountry ID:</b>
  <%= @resort.snowcountryid %>
</p>

<%= link_to 'Edit', edit_resort_path(@resort) %> |
<%= link_to 'Back', resorts_path %>
