<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @droute.id %>
</p>

<p>
  <b>Origin:</b>
  <%= @droute.origin %>
</p>

<p>
  <b>Resort:</b>
  <%= @droute.resort_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @droute.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @droute.longitude %>
</p>


<%= link_to 'Edit', edit_droute_path(@droute) %> |
<%= link_to 'Back', droutes_path %>
